ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: grey;
  padding: 10px;
  margin: 0;
}

li.nav {
  display: inline;
  padding: 20x;
  margin: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 120%;
}

li a:hover {
  background-color: #111;
}


h2 {
  color: teal;
}

.row {
  display: flex;
}
.column{
  width: 350px;
  height: 400px;
  float: left;
}

.soccerball {
  width: 130px;
  height: 150px;
}

.ronaldo {
  width: 220px;
  height: 160px;
}

a.link {
  color: black;
}

img.soccer {
  position: absolute;
  height: 350px;
  width: 350px;
  top: 95px;
  left: 710px;
 }

img.crball {
  position: absolute;
  left: 1050px;
  height: 350px;
  width: 250px;
  top: 95px;
 }

img.logo {
  position: absolute;
  left: 900px;
  height: 350px;
  width: 300px;
  top: 450px; 
}
